.courses{
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  
}

.courses Card.Img{
  width: auto;
}
@media (max-width: 600px) {
  .courses .card {
    max-width: 300px;
    height: auto;
  }}