.domains{
  justify-content: center;
  margin-top: 18px;
  display: flex;
  /* border-bottom: 2px solid black; */
}
.domain-img{
  height: auto;
  padding-bottom:10px ;
  margin: 0 30px;
  width: 20%;
}
.img{
  border-radius: 20px;
}
.domain-text{
  align-items: flex-start; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  flex-direction: column;
  transition: background-color 0.3s; /* Smooth transition */
  width: 50%;
  margin-left: auto;
  display: flex;
}
.domain-btn{
  
  padding:15px ;
  margin: 50px;
  color: azure;
  padding: 13px 50px;
  align-items: center;
  border-radius: 25px;
  transition: 1s;
  margin-left: auto;
}
.domain-btn:hover{
  box-shadow: 0 5px 10px 10px gray;
}

@media (max-width: 850px) {
  .domains {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally in a column */
  }
  .domain-img{
    
    width: 65%;
    padding-bottom: 25px;
    padding-top: 10x;
  }
  .domain-text{
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    
  }
  .domain-text h1{
   margin-bottom: 20px;
   text-align: center;
  }
  
  .domain-btn{
    margin-left: auto;
  margin-right: auto;
  }
.domain-content{
  font-size: small;
}
  
}