/* Extra Extra Large */
@media (min-width: 1400px) {
  .ProjectsCard {
    width: 20%;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: solid 2px rgb(209, 206, 206);
    overflow: hidden;
    border-radius: 10px;
  }

  .proj-img {
    height: 230px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }

  .hero-heading {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    font-size: xx-large;
    display: flex;
    flex-direction: column;

  }

  .hero-content {
    max-width: 60%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(109, 198, 240, 0.1);
  }

  .card-heading {
    font-size: xx-large;
  }

  .card-content {
    padding: 20px;
    height: 230px;
  }

  .project-cards-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button_card {
    margin-top: 15px;
    padding: 15px;
  }
}




@media (min-width: 1523px) {}


@media (min-width: 768px) and (max-width: 1523px) {
  .ProjectsCard {
    width: 35%;
    height: 380px;
    margin: 20px;
    padding: 20px;
    border: solid 2px rgb(209, 206, 206);
    overflow: hidden;
    border-radius: 10px;
  }

  .proj-img {
    height: 150px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }

  .hero-heading {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    font-size: x-large;
    display: flex;
    flex-direction: column;

  }

  .hero-content {
    max-width: 85%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(109, 198, 240, 0.1);
  }

  .card-heading {
    font-size: xx-large;
  }

  .card-content {
    padding: 10px;
  }

  .project-cards-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button_card {
    width: 70% !important;
    font-size: x-small;
    margin-top: 15px;
    padding: 10px;
  }

  .card-content {
    padding: 10px;
  }

  .card-disc {
    font-size: small !important;
    font-weight: 500 !important;
  }

  .card-heading {
    font-size: x-large;
  }

}


@media (max-width: 767px) {
  .ProjectsCard {
    width: 60%;
    height: 460px;
    margin: 20px;
    padding: 15px;
    border: solid 2px rgb(209, 206, 206);
    overflow: hidden;
    border-radius: 10px;
  }

  .proj-img {
    height: 200px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }

  .hero-heading {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-size: x-large;
    display: flex;
    flex-direction: column;

  }

  .hero-content {
    max-width: 85%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(109, 198, 240, 0.1);
  }

  .card-heading {
    font-size: large;
  }

  .card-content {
    padding: 20px;
  }

  .project-cards-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button_card {
    margin-top: 15px;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .hero-heading {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    font-size: medium;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(109, 198, 240, 0.1);
  }

  .ProjectsCard {
    width: 80%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .card-content {
    padding: 10px;
  }

  .card-disc {
    font-size: small !important;
    font-weight: 500 !important;
  }

  .card-heading {
    font-size: x-large;
  }
}



@media (max-width: 768px) {}