.bannnner {
  height: 20vh;
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  flex-direction: column;
  background-image: linear-gradient(135deg, #FABF2C, #262626, #FABF2C);
  
  color: white; 
  /* background-color: #e94f6e; */
}
@media only screen and (max-width: 700px) {
  .bannnner {
    height: 7vh; /* Increase height for small screens */
    font-size: 14px; /* Adjust font size for better readability */
  }
}