.ThingsWeOffer_compo {
  display: flex;
  flex-direction: column; /* Change to column */
  justify-content: space-around; /* Optional: Adjust as needed */
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: 18rem;
}

.ThingsWeOffer_compo .fonttext {
  font-size: larger;
}

@media (max-width: 944px) {
  .ThingsWeOffer_compo .img_compo {
    width: 70%;
    height: auto;
  }
  .ThingsWeOffer_compo .fonttext {
    font-size: medium;
  }
  .ThingsWeOffer_compo {
    flex-wrap: wrap;
  }
}
