
.navbar {
  --bs-navbar-padding-x: 0 !important;
  --bs-navbar-padding-y: 0 !important;
}

  .navbar-brand {
    padding: 1px,0;
  }

.nav-compo{
  color: white !important;
  margin: 5px;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  
  border-radius: 5px;
  transition: .5s;
  /* text-shadow: 2px 2px 2px #000;  */
}
.nav-compo:hover,
.nav-compo.active {
  background-color: white; 
  color: black !important;
}



.logo {
  width: auto;
  height: 80px;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1300px) {
  .nav-compo{
    color: white;
    margin: 5px;
    font-size: 1.1rem;
    font-weight: 800;
    font-weight: 600;
    border-radius: 5px;
    transition: .5s;
    /* text-shadow: 2px 2px 2px #000;  */
  }

  .navbar-nav  {
    text-align: center;
  }
  .logo {
    width: auto;
    height: 60px;
    padding: 0;
    margin: 0;
  }

   
 }

 @media only screen and (max-width: 1300px) {
  .nav-compo{
    color: white;
    margin: 5px;
    font-size: 1rem;
    
    font-weight: 600;
    border-radius: 5px;
    transition: .5s;
    /* text-shadow: 2px 2px 2px #000;  */
  }

  .navbar-nav  {
    text-align: center;
  }
  .logo {
    width: auto;
    height: 70px;
    padding: 0;
    margin: 0;
  }
 }

