/* CoursesWeOffer.css */
.CoursesWeOffer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  position: relative;
  width: 18rem;
  
}

.my-5 {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.md\:w-1\/3 {
  width: 33.3333%; /* Width for medium and larger screens */
}


@media (max-width: 640px) {
  .my-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    
  }

  .md\:w-1\/3 {
    width: 50%; 
    margin: 0;
  }

  .CoursesWeOffer {
    width: 70%;
    padding: 15px;  
  }
} 

@media (max-width: 414px) {
  .my-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    
  }



  .CoursesWeOffer {
    width: auto;
    padding: 15px;  
  }
} 

/* 
@media (max-width: 1366px) {
  .CoursesWeOffer {
     width: 13rem !important; 
   }
 }
 
 @media (max-width: 1440px) {
   .CoursesWeOffer {
     width: 17rem !important; 
   }
 }
 
 @media (max-width: 1280px) {
   .CoursesWeOffer {
     width: 15rem !important; 
   }
   .CoursesWeOffer .fonttext {
     font-size: large;
   }
 }
  */